@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');

.container-date {
  display: inline-flex;
  padding-top: 10%;
}

.container-movie{
  max-height: 75%;
}

.container-movie img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body{
  background-color:white;
}

h1{
  font-size: 200%;
  font-family: 'Noto Serif', serif;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.container{
  padding-top: 8%;
   padding-left: 6%;
   padding-right: 6%;
}

.container-movieList {
  background-color: blue;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 5%;
  grid-row-gap: 5%;
  padding-bottom: 5%;
  padding-right: 10%;
  padding-left: 10%;
}

.movieList img:hover {
  opacity: 0.5;
}
.movieList-item {
  padding: 2%;
  font-size: 50%;
  text-align: center;

}