@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");

body {
  background-color: grey;
}

header {
  background-color: #2138bf;
}

nav img {
  width: 120px;
}

.container-date {
  display: inline-flex;
  padding-top: 10%;
}

.container-movie {
  max-height: 75%;
}

.container-movie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 200%;
  font-family: "Noto Serif", serif;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.container {
  padding-top: 8%;
  padding-left: 6%;
  padding-right: 6%;
}
.container-movieList {
  padding: 10% 10% 10% 10%;
}

.movieList img:hover {
  opacity: 0.5;
}
.movieList-item {
  padding: 2%;
  font-size: 50%;
  text-align: center;
}
footer {
  background-color: #2138bf;
}
.container-footer p {
  color: white;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1;
}
.navbar-buttons {
  margin-left: 10px !important;
  margin-bottom: 10px;
}
#FilmsScreening {
  padding-bottom: 15%;
  padding-left: 10%;
  padding-right: 10%;
}
.screening-list {
  padding-top: 5%;
}
