@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");

body {
  background-color: rgb(10, 10, 10);
}

header {
  background-color: #040924;
}

nav img {
  width: 150px;
}

.navbar-brand {
  position: absolute;
  font-size: 60px;
  color: #fff;
  text-shadow: 0 0 20px #ff005b;
  -webkit-text-stroke: initial;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(238, 30, 210, 0.514);
}
.navbar-brand:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px;
  z-index: -1;
  opacity: 60%;
  color: #ff005b;
  filter: blur(15px);
}
.navbar-brand::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: -5;
  opacity: 90%;
  color: #155ffffd;
  filter: blur(15px);
}

/* Paddings for six movie posters */
.container-movieList {
  padding: 10% 10% 10% 10%;
}
/* This adds padding for movie carousel */
.container-movie{
  padding-left: 10%;
  padding-top: 10%;
  padding-right: 10%;
}
/* This adds padding for six movie posters*/
.movie{
  margin: 5%;
}
/* Footer */
footer {
  background-color: #040924;
}
/* Footers text color */
.container-footer p {
  color: white;
}
/* This is for sticky - footer, 
so that the footer always 
stays at the bottom part of the webpage */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/* This is also for sticky footer */
main {
  flex: 1;
}
/* Margin for buttons on the navbar */
.navbar-buttons {
  margin-left: 10px !important;
  margin-bottom: 10px;
}

.button__text {
  display: inline-flex;
  height: 50px;
  padding: 0;
  background: #009578;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 16px;
  font-family: 500;
  cursor: pointer;
}

/* This is so that when you hover over the button i changes color*/
.navbar-buttons:hover {
  background: #008168;
}
