.bg-image{
  background-image: url("bgFilmvisarna.png");
  height: 100vh;
}
body {
  background-color: black;
}
.screening-info{
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 28%;
  margin-right: 28%;
  width: 100vh;
}

.container-fluid{
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-flex;    
}

#container-movie-info{
  margin-left: 28%;
  margin-right: 28%;
  width: 100vh;
}

#container-movie-trailer{
  margin-left: 28%;
  margin-right: 28%;
  width: 100vh;
}

/*Padding for screening infomation on the filminfor.html */
.screening-list {
  padding-top: 5%;
}
/*Padding for screening infomation on the filminfor.html */
#FilmsScreening{
padding:5% 5% 5% 5%;
}

/* Footer */
footer {  
  background-color: rgba(0, 0, 0, 0.5);
}
/* Footers text color */
.container-footer p {
  color: white;
}


/* This is for sticky - footer, 
so that the footer always 
stays at the bottom part of the webpage */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/* This is also for sticky footer */
main {
  flex: 1;
}

/* This might influence bootstrap? */

#movie-info{
  color:white;
}