.bg-image{
  background-image: url("bgFilmvisarna.png");
  height: 100vh;
}
body {
  background-color: black;
}
.screening-info{
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 28%;
  margin-right: 28%;
  margin-bottom: 20%;
  width: 100vh;
}

#container-movie-info{
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 1%;
  margin-left: 28%;
  margin-right: 28%;
  width: 100vh;
}

#container-movie-trailer{  
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 28%;
  margin-right: 28%;
  width: 100vh;
}



/*Padding for screening infomation on the filminfor.html */
.screening-list {
  padding-top: 5%;
}
/*Padding for screening infomation on the filminfor.html */
#FilmsScreening{
padding:5% 5% 5% 5%;
}

/* Footer */
footer {  
  background-color: rgba(0, 0, 0, 0.5);
}
/* Footers text color */
.container-footer p {
  color: white;
}


/* This is for sticky - footer, 
so that the footer always 
stays at the bottom part of the webpage */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/* This is also for sticky footer */
main {
  flex: 1;
}

/* This might influence bootstrap? */

#movie-info{
  color:white;
}

nav img {
  width: 150px;
}

.navbar-brand {
  position: absolute;
  font-size: 60px;
  color: #fff;
  text-shadow: 0 0 20px #ff005b;
  -webkit-text-stroke: initial;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(238, 30, 210, 0.514);
}
.navbar-brand:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px;
  z-index: -1;
  opacity: 60%;
  color: #ff005b;
  filter: blur(15px);
}
.navbar-brand::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: -5;
  opacity: 90%;
  color: #155ffffd;
  filter: blur(15px);
}
#bookTickets{
  float: right;
}
