/* Font copied, not imported, as it is not found on google fonts.*/
@font-face {
  font-family: neon;
  src: url("neon.ttf");
}

/* HEADER ELEMENTS */

/* TEST
#movie-image {
  display: block;
  max-width: 100%;
  height: auto;
}
*/

header {
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 1%;
  padding-bottom: 1%;
}

/* BUTTOMS. Found in the header and other elements of the page. */

.btn{
  font-family: neon; 
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-color: transparent;
}

.btn:hover{
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 0 70% #ff005b;
  -webkit-text-stroke: initial;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(238, 30, 210, 0.514);
}

.navbar-buttons {
  padding: 0.5%;
}



/* FILMVISARNA LOGO*/

.navbar-brand {
  border-radius: 5%;  
  font-family: neon;
  background-color: rgba(0, 0, 0, 0.3);    
  padding-left: 1%;
  padding-right: 1%;  
  position: absolute;    
  left: 40%;
  margin-left: -50px !important;
  display: block;
  font-size: 250%;
  color: #fff;
  text-shadow: 0 0 70% #ff005b;
  -webkit-text-stroke: initial;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(238, 30, 210, 0.514);
}
.navbar-brand:hover {
  background-color: rgba(238, 30, 210, 0.2);
}

.navbar-brand:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px;
  z-index: -1;
  opacity: 60%;
  color: #ff005b;
  filter: blur(15px);
}
.navbar-brand::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: -5;
  opacity: 90%;
  color: #155ffffd;
  filter: blur(15px);
}

/* BODY ELEMENTS */

body {
  background-image: url("bgFilmvisarna.png");  
}
  

#container-movie-info{

  border-radius: 2%;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 1%;  
  margin-left: 28%;
  margin-right: 28%;
  width: 100vh;
}

#container-movie-info > div{
  padding-top: 5%;
  padding-left: 5%;
}

#movie-info{
  color: white;
}

.screening-info{
  border-radius: 2%;
  margin-top: 1%;
  background-color: rgba(0, 0, 0, 0.3);  
  margin-left: 28%;
  margin-right: 28%;
  margin-bottom: 20%;
  width: 100vh;
}

.form-control {
  font-family: neon; 
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-color: transparent;
}

.form-control:hover {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 0 70% #ff005b;
  -webkit-text-stroke: initial;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(238, 30, 210, 0.514);
}

.modal-content{  
  background-color: rgba(0, 0, 0, 0.3);
  
}

#datepicker{
  background-color: rgba(0, 0, 0, 0.3);  
}

.screening-list {  
  padding-top: 5%;
}

#FilmsScreening {  
  padding:5% 5% 5% 5%;
}

.table {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}



/* FOOTER */
footer {  
  background-color: rgba(0, 0, 0, 0.3);
}
/* Footers text color */
.container-footer p {
  color: white;
}


/* This is for sticky - footer, 
so that the footer always 
stays at the bottom part of the webpage */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/* This is also for sticky footer */
main {
  flex: 1;
}


#bookTickets{
  float: right;
}
