@font-face {
  font-family: neon;
  src: url("neon.ttf");
}
/* CSS style for modal pop-up window */
.modal-content {
  background-color: rgba(0, 0, 0, 0.3);
}
* {
  box-sizing: border-box;
}

/* HEADER ELEMENTS */

header {
  background-color: rgba(0, 0, 0, 0.2);
  padding-top: 1%;
  padding-bottom: 1%;
}

/* BUTTOMS. Found in the header and other elements of the page. */

.btn {
  font-family: neon;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-color: transparent;
}

.btn:hover {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 0 70% #ff005b;
  -webkit-text-stroke: initial;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(238, 30, 210, 0.514);
}

.navbar-buttons {
  padding: 0.5%;
}

/* FILMVISARNA LOGO*/

.navbar-brand {
  border-radius: 5%;
  font-family: neon;
  background-color: rgba(0, 0, 0, 0.2);
  padding-left: 1%;
  padding-right: 1%;
  position: absolute;
  left: 40%;
  margin-left: -50px !important;
  display: block;
  font-size: 250%;
  color: #fff;
  text-shadow: 0 0 70% #ff005b;
  -webkit-text-stroke: initial;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(238, 30, 210, 0.514);
}
.navbar-brand:hover {
  background-color: rgba(238, 30, 210, 0.2);
}

.navbar-brand:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px;
  z-index: -1;
  opacity: 60%;
  color: #ff005b;
  filter: blur(15px);
}
.navbar-brand::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: -5;
  opacity: 90%;
  color: #155ffffd;
  filter: blur(15px);
}

/* BODY ELEMENTS */

body {
  background: linear-gradient(rgba(0, 18, 50, 0.479), rgba(0, 0, 0, 0.95)),
    url("bgFilmvisarna.png");
}
/* Css for movie info side */
.containerMovieInfo {
  /*Using 0 opacity for now, gonna have box later on.*/
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  left: auto;
  position: static;
}

main {
  font-family: "neon";

  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(0, 18, 50, 0.3);
  padding-top: 25px;
}

.rounded-circle {
  background-color: #ff10f0;
  border: none;
}

.plusButtons > ul > li {
  margin-bottom: 30px;
  font-size: x-large;
}
.minusButtons > ul > li {
  margin-bottom: 30px;
  font-size: x-large;
}

#priceText li {
  width: 15rem;
  font-size: x-large;
  margin-bottom: 15%;
}

ul {
  list-style-type: none;
  padding: 0 0 0 0;
}

.movie-container {
  margin: 100px 0;
}

.container {
  /* Sätes container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-container {
  margin-top: 30px;
}

.seat {
  height: 22px;
  width: 25px;
  margin: 5px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  height: 40px;
  width: 45px;
  background: #01163e;
  border: 2px solid #81316d;
  transition: all 0.2s ease;
}

.seat:disabled {
  background-color: #fff;
  height: 22px;
  width: 25px;
  margin: 5px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 40px;
  width: 45px;
  border: 2px solid #81316d;
  transition: all 0.2s ease;
}

.seat-selected {
  background-color: #31d7a9;
  height: 22px;
  width: 25px;
  margin: 5px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 40px;
  width: 45px;
  border: 2px solid #81316d;
  transition: all 0.2s ease;
}
.seat-notOccupied {
  height: 22px;
  width: 25px;
  margin: 5px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  height: 40px;
  width: 45px;
  background: #01163e;
  border: 2px solid #81316d;
  transition: all 0.2s ease;
}
.seat-occupied {
  background-color: #fff;
  height: 22px;
  width: 25px;
  margin: 5px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 40px;
  width: 45px;
  border: 2px solid #81316d;
  transition: all 0.2s ease;
}
.seat:nth-of-type(2) {
  /*Skapar margin mellan andra sätesraden (:nth) och den nya raden till höger*/
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  /*Skapar margin mellan andra raden till höger och raden innan*/
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  /* Selecting seats that do not have "occupied" class */
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  /* Available, selected, occupied.*/
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  /*Available selected occupied text position*/
  display: center;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

/*Sätena i rows istället för column*/
#row1 {
  margin-left: 17%;
}
#row2 {
  margin-left: 17%;
}
#row3 {
  margin-left: 7%;
}
#row4 {
  margin-left: 7%;
}
#row5 {
  margin-left: 7%;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf5;
}

.movie-screen {
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
}

.movie-screen img {
  max-width: 85%;
}

.text {
  font-size: 18px;
}

#count,
#total {
  font-size: 24px;
  padding: 0 8px;
}

.text-wrapper {
  margin-top: 10px;
}

/*hur sidan anpassar sig om skärmen blir mindre än 576px.
Jag lämnar koden här så länge.*/
@media (max-width: 576px) {
  body {
    padding-top: 30px;
  }

  .movie-container select {
    font-size: 14px;
  }

  .seat {
    height: 21px;
    width: 23px;
  }

  .movie-screen img {
    max-width: 92%;
  }

  .subtitle {
    font-size: 13px;
    padding: 7px;
  }

  .seat:nth-of-type(2) {
    margin-right: 12px;
  }

  .seat:nth-last-of-type(2) {
    margin-left: 12px;
  }

  .movie-screen {
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .text {
    font-size: 14px;
  }

  #count,
  #total {
    font-size: 18px;
  }
}
