/* Font copied, not imported, as it is not found on google fonts.*/
@font-face {
  font-family: neon;
  src: url(/frontend/fonts/neon.ttf);
}

/* HEADER ELEMENTS */

/* TEST
.movie {
  display: block;
  max-width: 100%;
  height: auto;
}
*/

header {
  background-color: rgba(0, 0, 0, 0.2);
  padding-top: 1%;
  padding-bottom: 1%;
  
}

/* BUTTOMS. Found in the header and other elements of the page. */

.btn {
  font-family: neon;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-color: transparent;
}

.btn:hover {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 0 70% #ff005b;
  -webkit-text-stroke: initial;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(238, 30, 210, 0.514);
}

.navbar-buttons {
  padding: 0.5%;
}

/* FILMVISARNA LOGO*/

.navbar-brand {
  border-radius: 5%;  
  font-family: neon;
  background-color: rgba(0, 0, 0, 0.2);    
  padding-left: 1%;
  padding-right: 1%;  
  position: absolute;    
  left: 40%;
  margin-left: -50px !important;
  display: block;
  font-size: 250%;
  color: #fff;
  text-shadow: 0 0 70% #ff005b;
  -webkit-text-stroke: initial;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(238, 30, 210, 0.514);
}

.navbar-brand:hover {
  background-color: rgba(238, 30, 210, 0.2);
}

.navbar-brand:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px;
  z-index: -1;
  opacity: 60%;
  color: #ff005b;
  filter: blur(15px);
}
.navbar-brand::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: -5;
  opacity: 90%;
  color: #155ffffd;
  filter: blur(15px);
}

body {
  background-image: url("bgFilmvisarna.png");
}


/* Paddings for six movie posters */

/* This adds padding for movie carousel */


.movie-carousel {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 3%;  
  margin-left: 26%;
  margin-right: 26%;
  margin-top: 1%;
  margin-bottom: 1%;
  
}



/* This adds padding for six movie posters*/
.container-movieList {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 3%;  
  margin-left: 24%;
  margin-right: 24%;
  margin-top: 1%;
  margin-bottom: 1%;
  
}

.movie {
  margin: 5%;

}
/* Footer */
footer {  
  background-color: rgba(0, 0, 0, 0.2);
}
/* Footers text color */
.container-footer p {
  color: white;
}
/* This is for sticky - footer, 
so that the footer always 
stays at the bottom part of the webpage */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/* This is also for sticky footer */
main {
  flex: 1;
}
/* Margin for buttons on the navbar */
.navbar-buttons {
  margin-left: 10px !important;
  margin-bottom: 10px;
}

.button__text {
  display: inline-flex;
  height: 50px;
  padding: 0;
  background: #009578;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 16px;
  font-family: 500;
  cursor: pointer;
}
